.form-header {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    color: #fff;
    text-align: center;
    margin-top: -1.13rem;
    margin-bottom: .5rem;
    padding: 1rem;
    border-radius: .125rem;
}
.area {
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}
.cover {
    position: absolute;
    box-sizing: border-box;
    background: #fff;
    width: 50%;
    height: 100%;
    top: 0;
    transition: .3s ease;
}
.left {
    left: 0;
    z-index: 5;
    transform: translateX(-100%);
}
.right {
    right: 0;
    z-index: 5;
    transform: translateX(100%);
}
.target {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    transition: .3s ease;
}
#text{
    z-index: 0;
}
/*End animation*/
