@import 'main.css' all;

@media screen and (min-width: 576px) {
    .card-width {
        width: 180px!important;
    }
    .card-text{
        font-size: 16px;
    }
    .card-price{
    font-size: 13px;
}
    .owl-stage .owl-item {
        height: 350px!important;
    }
    .owl-slider-card .owl-dots {
        position: absolute;
        bottom: 3%;
        left: 32%;
    }
}
@media screen and (min-width: 768px) {
    .card-width {
        width: 200px!important;
    }

    .card-price{
    font-size: 14px;
}
    .owl-stage .owl-item {
        height: 400px!important;
    }
    .owl-slider-card .owl-dots {
        position: absolute;
        bottom: 3%;
        left: 45%;
    }
}
@media screen and (min-width: 992px) {
    .card-width {
        width: 250px!important;
    }
    .card-price{
    font-size: 14px;
}
    .owl-stage .owl-item {
        height: 540px!important;
    }
    .owl-slider-card .owl-dots {
        position: absolute;
        bottom: 0;
        left: 48%;
    }
}
@media screen and (min-width: 1200px) {
    .card-width {
        width: 250px!important;
    }
    .card-price{
    font-size: 14px;
}
    .owl-stage .owl-item {
        height: 580px!important;
    }
    .owl-slider-card .owl-dots {
        position: absolute;
        bottom: 3%;
        left: 48%;
    }
}
