@import 'main.css' all;

@media screen and (min-width: 576px) {
    .card-width {
        width: 180px!important;
    }
    .card-text{
        font-size: 16px;
    }
    .card-price{
    font-size: 13px;
}
}
@media screen and (min-width: 768px) {
    .card-width {
        width: 200px!important;
    }

    .card-price{
    font-size: 14px;
}
}
@media screen and (min-width: 992px) {
    .card-width {
        width: 250px!important;
    }
    .card-price{
    font-size: 14px;
}
}
@media screen and (min-width: 1200px) {
    .card-width {
        width: 250px!important;
    }
    .card-price{
    font-size: 14px;
}
}
